<footer>
  <div class="footer">
    <ul class="footer">
      <li class="footer-item">
        <a href="/"><img src="image/facebook.png" alt="logo facebook"></a>
      </li>
      <li class="footer-item">
        <a href="/"><img src="image/twitter.png" alt="logo twitter"></a>
      </li>
      <li class="footer-item">
        <a href="/"><img src="image/instagram.png" alt="logo instagram"></a>
      </li>
    </ul>
  </div>
</footer>
