<footer>
  <div class="footer">
    <ul class="footer">
      <li class="footer-item">
        <a href="#"><%= image_tag('facebook.png', alt: 'Logo Facebook') %></a>
      </li>
      <li class="footer-item">
        <a href="#"><%= image_tag('twitter.png', alt: 'Logo Twitter') %></a>
      </li>
      <li class="footer-item">
        <a href="#"><%= image_tag('instagram.png', alt: 'Logo Instagram') %></a>
      </li>
    </ul>
  </div>
</footer>
