<header>
  <div class="top-navbar">
    <nav class="navbar">
      <div class="navbar-logo">
        <a href="#"><img id="logo" src="image/spray.png" alt="Logo"></a>
      </div>
      <div class="navbar-right" id="navigation">
        <ul class="navbar-right">
          <li class="nav-items">
            <a href="#">Home</a>
          </li>
          <li class="nav-items">
            <a href="#">A propos</a>
          </li>
           <li class="nav-items">
            <a href="#">Contact</a>
          </li>
          <li class="nav-items-dropdown">
            <div class="dropdown">
              <div id="dropdown-button">
                <img id="avatar-small" src="image/avatar.jpg" alt="Avatar">
              </div>
              <div class="dropdown-menu">
                <a class="dropdown-items" href="#">
                  Mon portfolio
                </a>
                <a class="dropdown-items" href="#">
                  Mon compte
                </a>
                <a class="dropdown-items" href="#">
                  Se déconnecter
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
